@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Main Blog Area -->
<section class="main-blog-area pb-100">
    <div class="container-fluid">
        <div class="main-blog-slider-item-wrap owl-carousel owl-theme">
            <div class="single-main-blog-item">
                <img src="/img/home-one/main-blog-img/1.jpg" alt="Image">
                <a href="https://www.youtube.com/watch?v=mLVJr1au7uY" class="blog-link">
                    Video
                </a>

                <div class="main-blog-content">
                    <a href="post-style-one.html">
                        <h3>Why We Need for Guidelines for Brain Scan Data</h3>
                    </a>

                    <ul>
                        <li>
                            <a href="#" class="admin">
                                <i class="bx bx-user"></i>
                                By Jhona Walker
                            </a>
                        </li>
                        <li>
                            <i class="bx bx-calendar"></i>
                            25 Jun 2020
                        </li>
                    </ul>
                </div>
            </div>

            <div class="single-main-blog-item">
                <img src="/img/home-one/main-blog-img/2.jpg" alt="Image">
                <a href="https://www.youtube.com/watch?v=mLVJr1au7uY" class="blog-link popup-youtube">
                    Video
                </a>

                <div class="main-blog-content">
                    <a href="post-style-one.html">
                        <h3>The two Important Tools to Reconnect Your Partner</h3>
                    </a>

                    <ul>
                        <li>
                            <a href="#" class="admin">
                                <i class="bx bx-user"></i>
                                By Jhona Walker
                            </a>
                        </li>
                        <li>
                            <i class="bx bx-calendar"></i>
                            26 Jun 2020
                        </li>
                    </ul>
                </div>
            </div>

            <div class="single-main-blog-item">
                <img src="/img/home-one/main-blog-img/3.jpg" alt="Image">
                <a href="#" class="blog-link">
                    Gadgets
                </a>

                <div class="main-blog-content">
                    <a href="post-style-one.html">
                        <h3>Impossible high beauty standard are ruining myself ended</h3>
                    </a>

                    <ul>
                        <li>
                            <a href="#" class="admin">
                                <i class="bx bx-user"></i>
                                By Jhona Walker
                            </a>
                        </li>
                        <li>
                            <i class="bx bx-calendar"></i>
                            30 Jun 2020
                        </li>
                    </ul>
                </div>
            </div>

            <div class="single-main-blog-item">
                <img src="/img/home-one/main-blog-img/3.jpg" alt="Image">
                <a href="#" class="blog-link">
                    Gadgets
                </a>

                <div class="main-blog-content">
                    <a href="post-style-one.html">
                        <h3>Impossible high beauty standard are ruining myself ended</h3>
                    </a>

                    <ul>
                        <li>
                            <a href="#" class="admin">
                                <i class="bx bx-user"></i>
                                By Jhona Walker
                            </a>
                        </li>
                        <li>
                            <i class="bx bx-calendar"></i>
                            30 Jun 2020
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Blog Area -->
<!-- Start Featured Area -->
<section class="featured-area one pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Featured</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-featured">
                    <a href="post-style-one.html" class="blog-img">
                        <img src="/img/home-one/featured-img/1.jpg" alt="Image">
                        <span>lifestyle</span>
                    </a>

                    <div class="featured-content">
                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    Admin By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                25 Jun 2020
                            </li>
                        </ul>

                        <a href="post-style-one.html">
                            <h3>A Simple Way to Address the Gap Between Attention</h3>
                        </a>

                        <a href="post-style-one.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-featured">
                    <a href="post-style-one.html" class="blog-img">
                        <img src="/img/home-one/featured-img/2.jpg" alt="Image">
                        <span>Fashion</span>
                    </a>

                    <div class="featured-content">
                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    Admin By Kilva Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>

                        <a href="post-style-one.html">
                            <h3>Style Tips Form Top Designer of United States</h3>
                        </a>

                        <a href="post-style-one.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-featured">
                    <a href="post-style-one.html" class="blog-img">
                        <img src="/img/home-one/featured-img/3.jpg" alt="Image">
                        <span>Music</span>
                    </a>

                    <div class="featured-content">
                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    Admin By Jexk Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                27 Jun 2020
                            </li>
                        </ul>

                        <a href="post-style-one.html">
                            <h3>In 2020 Top Treeing Music Concert Program</h3>
                        </a>

                        <a href="post-style-one.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-featured">
                    <a href="post-style-one.html" class="blog-img">
                        <img src="/img/home-one/featured-img/4.jpg" alt="Image">
                        <span>Culture</span>
                    </a>

                    <div class="featured-content">
                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    Admin By Anna Dew
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                28 Jun 2020
                            </li>
                        </ul>

                        <a href="post-style-one.html">
                            <h3>What to Expect From the 2020 Oscar Nomination</h3>
                        </a>

                        <a href="post-style-one.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-featured">
                    <a href="post-style-one.html" class="blog-img">
                        <img src="/img/home-one/featured-img/5.jpg" alt="Image">
                        <span>World</span>
                    </a>

                    <div class="featured-content">
                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    Admin By Zinka Jhona
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                29 Jun 2020
                            </li>
                        </ul>

                        <a href="post-style-one.html">
                            <h3>Impossibly High Beauty Standards Are Ruining My Self Esteem</h3>
                        </a>

                        <a href="post-style-one.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-featured">
                    <a href="post-style-one.html" class="blog-img">
                        <img src="/img/home-one/featured-img/6.jpg" alt="Image">
                        <span>Music</span>
                    </a>

                    <div class="featured-content">
                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    Admin By Altk Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                30 Jun 2020
                            </li>
                        </ul>

                        <a href="post-style-one.html">
                            <h3>The 4 convolution's Neural Network Models That Can Classify</h3>
                        </a>

                        <a href="post-style-one.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Area -->
<!-- Start Editor Choice Area -->
<section class="editor-choice-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Editor Choice</h2>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="editor-blog">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/editor-img/1.jpg" alt="Image">
                    </a>

                    <div class="editor-blog-content">
                        <a href="post-style-one.html">
                            <h3>The City of London Wants to Have It Brexit Cake In it Just To</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Admin Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                25 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="right-blog-editor media align-items-center">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/editor-img/2.jpg" alt="Image">
                    </a>

                    <div class="right-blog-content">
                        <a href="blog-detauls.html">
                            <h3>Advantage & Disadvantages of having Matchbook</h3>
                        </a>

                        <span>
                            <i class="bx bx-calendar"></i>
                            25 Jun 2020
                        </span>
                    </div>
                </div>

                <div class="right-blog-editor media align-items-center">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/editor-img/3.jpg" alt="Image">
                    </a>

                    <div class="right-blog-content">
                        <a href="blog-detauls.html">
                            <h3>The Scariest Moment is Always Just Before You</h3>
                        </a>

                        <span>
                            <i class="bx bx-calendar"></i>
                            26 Jun 2020
                        </span>
                    </div>
                </div>

                <div class="right-blog-editor media align-items-center">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/editor-img/4.jpg" alt="Image">
                    </a>

                    <div class="right-blog-content">
                        <a href="blog-detauls.html">
                            <h3>The Expert's Guide To Surviving long Haul Flights</h3>
                        </a>

                        <span>
                            <i class="bx bx-calendar"></i>
                            27 Jun 2020
                        </span>
                    </div>
                </div>

                <div class="right-blog-editor media align-items-center">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/editor-img/5.jpg" alt="Image">
                    </a>

                    <div class="right-blog-content">
                        <a href="blog-detauls.html">
                            <h3>The Scariest Moment Is Always Just Before You</h3>
                        </a>

                        <span>
                            <i class="bx bx-calendar"></i>
                            27 Jun 2020
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Editor Choice Area -->
<!-- Start Inspiration Area -->
<section class="inspiration-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Inspiration</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-inspiration">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/inspiration-img/1.jpg" alt="Image">
                    </a>
                    <span class="blog-link">
                        Food
                    </span>

                    <div class="inspiration-content">
                        <a href="post-style-one.html">
                            <h3>The two Important Tools to Reconnect Your Partner</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-inspiration mt-minus-50">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/inspiration-img/2.jpg" alt="Image">
                    </a>
                    <span class="blog-link">
                        Fitness
                    </span>

                    <div class="inspiration-content">
                        <a href="post-style-one.html">
                            <h3>Get Scary With This Vegan Spooky Spider Crackle Cake!</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-inspiration">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/inspiration-img/3.jpg" alt="Image">
                    </a>
                    <span class="blog-link">
                        Tech
                    </span>

                    <div class="inspiration-content">
                        <a href="post-style-one.html">
                            <h3>No Fixed Abode: Quitting Home Ownership</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-inspiration">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/inspiration-img/4.jpg" alt="Image">
                    </a>
                    <span class="blog-link">
                        Travel
                    </span>

                    <div class="inspiration-content">
                        <a href="post-style-one.html">
                            <h3>Impossibly High Beauty Standards Are Ruining My Self Esteem</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-inspiration mt-minus-50">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/inspiration-img/5.jpg" alt="Image">
                    </a>
                    <span class="blog-link">
                        Summer
                    </span>

                    <div class="inspiration-content">
                        <a href="post-style-one.html">
                            <h3>Do You Want Stronger Friendships, a More Balanced Mindset</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-inspiration">
                    <a href="post-style-one.html">
                        <img src="/img/home-one/inspiration-img/6.jpg" alt="Image">
                    </a>
                    <span class="blog-link">
                        Travel
                    </span>

                    <div class="inspiration-content">
                        <a href="post-style-one.html">
                            <h3>The 4 convolution's Neural Network Models That Can Classify</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Inspiration Area -->
<!-- Start Full BLog Area -->
<section class="full-blog pb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="single-full-blog">
                    <img src="/img/home-one/full-blog/1.jpg" alt="Image">

                    <div class="full-blog-content">
                        <a href="post-style-one.html">
                            <h3>The City of London Wants to Have It Brexit Cake In it Just To</h3>
                        </a>

                        <ul>
                            <li>
                                <a href="#" class="admin">
                                    <i class="bx bx-user"></i>
                                    By Jhona Walker
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="single-full-blog">
                    <img src="assets/img/home-one/full-blog/2.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Full BLog Area -->
<!-- Start Latest Project Area -->
<section class="latest-project-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Latest Project</h2>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/1.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            Admin By Jhona Walker
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        25 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>How to Use The Most Instagram Photography</h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/2.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            Admin By  Kilva Walker
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        26 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>Impossibly High Beauty Standards Are Ruining My Self Esteem</h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/3.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            Admin By Jexk Walker
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        27 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>The Next Big Thing in Fashion? Not Washing Your Clothes </h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/4.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            Admin By Anna Dew
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        28 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>I Moved Across the Country and Never Looked Back</h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/5.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            Admin By Zinka Jhona
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        29 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>Extreme Athleticism Is the New Midlife Crisis</h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/6.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            Admon By Altk Walker
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        30 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>Relationships Aren’t Easy, But They’re Worth It</h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/7.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            By Admon Altk Walker
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        25 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>The Tattoo Taboo For The Asian Woman all the best</h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-featured">
                            <a href="post-style-one.html">
                                <img src="/img/home-one/latest-project/8.jpg" alt="Image">
                            </a>

                            <div class="featured-content">
                                <ul>
                                    <li>
                                        <a href="#" class="admin">
                                            <i class="bx bx-user"></i>
                                            Admon By Altk Walker
                                        </a>
                                    </li>
                                    <li>
                                        <i class="bx bx-calendar"></i>
                                        24 Jun 2020
                                    </li>
                                </ul>

                                <a href="post-style-one.html">
                                    <h3>The Review of Top Piano Rest-laurent in London</h3>
                                </a>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>

                                <a href="post-style-one.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="latest-project-right-sidebar">
                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/9.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>Extreme Athleticism Is the New Midlife Crisis</h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                25 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/10.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>The Scariest Moment is Always Just Before You Start</h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/11.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>I Thought My Glasses Made Me Unattractively</h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                27 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/14.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>A Simple Way to Address the Gap Between</h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                27 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="light-news mb-30">
                        <img src="/img/home-one/latest-project/light-news-img.jpg" alt="Image">

                        <div class="light-news-content">
                            <a href="post-style-one.html">
                                <h3>What Would It Take To Shut-down the Internet</h3>
                            </a>

                            <ul>
                                <li>
                                    <a href="#" class="admin">
                                        <i class="bx bx-user"></i>
                                        By Admon Altk Walker
                                    </a>
                                </li>
                                <li>
                                    <i class="bx bx-calendar"></i>
                                    30 Jun 2020
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/12.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>The Day I Lost My Child in Charles de Galle Airport</h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                25 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/13.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>I Thought My Glasses Made Me Unattractive </h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                26 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/14.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>A Simple Way to Address the Gap Between</h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                27 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="right-blog-editor media align-items-center">
                        <a href="blog-details.html">
                            <img src="/img/home-one/latest-project/10.jpg" alt="Image">
                        </a>

                        <div class="right-blog-content">
                            <a href="blog-detauls.html">
                                <h3>The Day I Lost My Child in Charles de Galle Airport</h3>
                            </a>

                            <span>
                                <i class="bx bx-calendar"></i>
                                27 Jun 2020
                            </span>
                        </div>
                    </div>

                    <div class="follows-area">
                        <h3>Follows</h3>

                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    Facebook <br>
                                    <span>532k Like</span>
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    Twitter <br>
                                    <span>500k Followers</span>
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    Instagram <br>
                                    <span>504k Followers</span>
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    YouTube <br>
                                    <span>502k Subscribe</span>
                                    <i class="bx bxl-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest Project Area -->
@section Scripts{ }
